body {
  margin: 0;
  height: 100%;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.main {
  display: flex;
  width: 100%;
  height: 100%;
}

.sidebar {
  width: 8%;
  display: grid;
  background-color: #191718;
  height: 100vh;
}

.sidebar-block {
  display: grid;
  height: 25%;
}

.sidebar-links {
  align-items: center;
  font-weight: 600;
  height: 100%;
  padding: 0px 0px 0px 10px;
  display: flex;
  color: #aaaaaa;
  text-decoration: none;
  border-bottom: 1px #5c5c5c solid;
  cursor: default;
}

.active {
  color: #ffffff;
}

.sidebar-links:hover {
  background-color: #5c5c5c;
  color: #ffffff;
}

.sidebar-links span {
  margin-top: 4px;
}

.content {
  display: grid;
  grid-template-rows: 0.6fr 1fr 1.7fr 0.4fr;
  padding-top: 30px;
  width: 92%;
  /* text-align: center; */
  justify-items: center;
  row-gap: 30px;
}

.ncc-logo {
  width: 300px;
}

.content-intro {
  background-color: #efefef;
  width: 1510px;
  height: 200px;
  padding-top: 20px;
  text-align: center;
}

.content-intro p {
  padding: 0px 268px 0px 268px;
  font-size: 16px;
}

.content-desc {
  display: grid;
  width: 1510px;
  height: 210px;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: space-around;
  column-gap: 30px;
}

.desc-block {
  width: 470px;
}

.content-icons {
  width: 25%;
  float: left;
  /* margin-right: 18px; */
}

.footer {
  width: 100%;
  border-top: 2px #e0e0e0 solid;
  display: grid;
  justify-items: center;
  align-items: center;
}

.footer-content {
  width: 1510px;
  color: #3e3e3e;
}

@media only screen and (max-width: 801px) {
  body {
    width: 100%;
    padding: 0px 10px 0px 10px;
  }

  .main {
    display: grid;
    width: 100%;
    height: 100%;
  }

  .sidebar {
    width: 100%;
    height: 50px;
    display: inline;
    background-color: #191718;
  }

  .sidebar-block {
    display: flex;
    justify-content: space-evenly;
  }

  .sidebar-links {
    align-items: center;
    font-weight: 600;
    height: 100%;
    padding: 0;
    display: flex;
    color: #aaaaaa;
    text-decoration: none;
    cursor: default;
    border: none;
  }

  .sidebar-links span {
    margin-top: 25px;
    height: 100%;
  }

  .ncc-logo {
    width: 100px;
  }

  .content {
    display: grid;
    grid-template-rows: 0.2fr 1fr 1fr 1fr;
    padding-top: 30px;
    width: 100%;
    /* text-align: center; */
    justify-items: center;
    row-gap: 30px;
  }

  .ncc-logo {
    width: 200px;
  }

  .content-intro {
    background-color: #efefef;
    width: 100%;
    height: 300px;
    padding-top: 20px;
    padding: 0px 10px 0px 10px;
    text-align: center;
  }

  .content-intro p {
    margin: 0;
    padding: 0;
    font-size: 16px;
  }

  .content-desc {
    margin-top: -100px;
    display: grid;
    width: 100%;
    height: 210px;
    /* row-gap: 30px; */
  }

  .desc-block {
    width: 100%;
  }

  .content-icons {
    width: 40%;
    float: left;
    margin-right: 0;
  }

  .footer {
    margin-top: 300px;
    width: 100%;
    height: 100px;
    border-top: 2px #e0e0e0 solid;
    justify-items: center;
    align-items: center;
    text-align: center;
  }

  .footer-content {
    width: 100%;
    color: #3e3e3e;
  }
}

@media only screen and (max-width: 480px) {
  .main {
    display: grid;
    width: 100%;
    height: 100%;
  }

  .sidebar {
    width: 100%;
    height: 50px;
    display: inline;
    background-color: #191718;
  }

  .sidebar-block {
    display: flex;
    justify-content: space-evenly;
  }

  .sidebar-links {
    align-items: center;
    font-weight: 600;
    height: 20px;
    padding: 0;
    display: flex;
    color: #aaaaaa;
    text-decoration: none;
    cursor: default;
    border: none;
  }

  .content {
    display: grid;
    grid-template-rows: 0.2fr 0.2fr 1fr 1fr;
    padding-top: 30px;
    width: 100%;
    /* text-align: center; */
    justify-items: center;
    row-gap: 30px;
  }

  .ncc-logo {
    width: 200px;
  }

  .content-intro {
    background-color: #efefef;
    width: 100%;
    height: 350px;
    padding-top: 20px;
    text-align: center;
  }

  .content-intro p {
    margin: 0;
    padding: 0;
    font-size: 16px;
  }

  .content-desc {
    margin-top: 0px;
    display: block;
    width: 100%;
    height: 210px;
    /* row-gap: 30px; */
  }

  .desc-block {
    width: 100%;
  }

  .content-icons {
    width: 40%;
    float: left;
    margin-right: 0;
  }

  .footer {
    margin-top: 480px;
    width: 100%;
    height: 100px;
    border-top: 2px #e0e0e0 solid;
    justify-items: center;
    align-items: center;
    text-align: center;
  }

  .footer-content {
    width: 100%;
    color: #3e3e3e;
  }
}
